* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  height: 100vh;
  background-color: #262626;
  color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

main {
  max-width: 100%;
  padding: 30px;
}

header {
  margin-block: 30px;
}

header h1 {
  font-size: 1.5em;
  color: #F9F4DA;
}

header p {
  width: 400px;
  margin: auto;
  color: #8E8E8E;
  font-weight: 500;
  font-size: 0.9em;
  white-space: normal;
  overflow-wrap: break-word;

}

section.status-container {
  max-width: 450px;
  background-color: #10A95B;
  color: #F9F4DA;
  border-radius: 5px;
  padding: 8px;
  margin: auto;
}

section.status-container h2 {
  font-size: 1.5rem;
}

section.status-container p {
  font-size: 1rem;
}

section.languajes-container {
  max-width: 450px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

section.languajes-container span {
  padding: 8px;
  border-radius: 5px;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-weight: bold;
}

section.letters-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}


section.letters-container span {
  font-size: 1.5rem;
  background-color: #323232;
  color: #F9F4DA;
  border-bottom: 2px solid #F9F4DA;
}

section.letters-container span p {
  width: 40px;
  height: 40px;
}

section.letters-container span p.hidden {
  color: transparent;
}

section.keyboard-container {
  width: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

section.keyboard-container button {
  width: 40px;
  height: 40px;
  background-color: #FCBA29;
  color: #1E1E1E;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}

section.keyboard-container button.letter-exist {
  background-color: #10A95B;
}

section.keyboard-container button.no-letter-exist {
  background-color: #EC5D49;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}
